 .main{
	background-color:white;
	font-family: arial;
	color:white;
	
}


.menu-horizontal {
	list-style-type: none;
    position: absolute;
    top: 0;
	left: 0;
	padding:0;
	margin:0;
    width: 100%;
	background-color: #3194c5;
	font-size: 125	%;
	box-shadow: 0px 0px 5px ;
	font-weight:bold;
}

.menu-horizontal li{
	float: left;
	display: block;
    text-align: center;
	text-decoration: none;
	padding : 1.3%;
	
}

.menu-horizontal i{
	float: right;
}

.menu-horizontal li:hover {
    background-color: #006cab;
	cursor:pointer;
	
}

.menu-horizontal a {
	color :white;
	text-decoration:none;
}

#menu1{
	font-size : 150%;
	margin-left : 5%;
	padding : 1%;
}

#global{
	float:right;
	margin-right : 2.5%;
	padding : 1.5%;
}

.nav{
	font-weight:bold;
	margin-left: 3%;
}

.nav li a{
	background-color:#f1f1f1 ;
	
}

.active a  {
	color:white !important;
	background-color:#26b774 !important;
}

.tab-content{
	margin-left:3%;
	margin-top:1%;
}

.form-control{
	width:100%;
	margin-top:3%
}

.tab-pane h3{
	color: #3194c5;
}

#recherche{
	color: black;
	float:left;
	width:30%;
}


#etat{
	float:left;
	margin-left:3%;
	margin-top:0%;
	width :60%;
}

#trait-horizontal{
	
	border-top: 1px solid #BDBDBD ;
}

#trait-vertical{
	border-right : 1px solid #D8D8D8;
	height :30%;
	float:left;
	margin-left : 5%;
	margin-top:1%;
}

.table{
	color:black;
	width:100%;
}

#barre{
	background-color: #3194c5
}

.table i{
	color:grey;
}

#map{
	height: 400px;
    width: 97%;
	float:left;
}
.gm-style-iw{
	color:black;
}
#stationChoisie{
	font-size : 18px;
	margin-top:2%;
}

#liste{
	color: black;
}

#liste table{
	color: black;
}