.main{
	background-color:white;
	font-family: Arial;
	color:white;
}


.menu-horizontal {
	list-style-type: none;
    position: fixed;
    top: 0;
	left: 0;
	padding:0;
	margin:0;
    width: 100%;
	background-color: #3194c5;
	font-size: 125	%;
	box-shadow: 0px 0px 5px ;
}

.menu-horizontal li{
	float: left;
}

.menu-horizontal li{
	display: block;
    text-align: center;
	text-decoration: none;
	padding : 1.3%;
	
}

.menu-horizontal i{
	float: right;
}

.menu-horizontal li:hover {
    background-color: #006cab;
	cursor:pointer;
	
}

.menu-horizontal a {
	color :white;
}

#menu1{
	font-size : 150%;
	margin-left : 5%;
	padding : 1%;
}

#global{
	float:right;
	margin-right : 2.5%;
	padding : 1.35%;
}