/*Spécification de la couleur du background et la police */
body{
	background-color:#f9f9ea;
	font-family: Arial;
}

/*Style du menu horizontal*/
.menu-horizontal {
	list-style-type: none;
    position: fixed;
    top: 0;
	left: 0;
	padding:0;
	margin:0;
    width: 100%;
	background-color: #333;
	font-size: 125	%;
	box-shadow: 0px 0px 5px ;
}

/*Style de l'icone menu*/
.menu-icon {
	margin: 0.8%;
	margin-left:0;
}

/*Style du logo du site*/
.logo-icon{
	margin : 5%;
	margin-right:0;
}
/*En pointant sur l'icone menu, changement du pointeur de la souris*/
.menu-icon:hover{
	cursor:pointer;
}

/*Trait formant l'icone du menu*/
.menu-icon div{
	background-color:white;
	width: 30px;
    height: 3px;
	margin: 6px;
	margin-left : 50px;
	margin-right : 50px;
	
	
}

/*Permet de mettre les bouttons du menu horizontal sur une même ligne*/
.menu-horizontal li{
	float: left;
}

/*Affichage du menu deroulant quand on pointe sur l'un des bouttons du menu horizontal*/
.menu-horizontal li:hover div{
	display : block;
}

/*Style des bouttons du menu horizontal*/
.menu-btn{
	display: block;
    color: white;
    text-align: center;
	text-decoration: none;
	padding: 20px 100; 
	
}

/*En pointant sur l'un des bouttons du menu horizontal, changement de couleur + changement du pointeur*/
.menu-btn:hover {
    background-color: #555;
	cursor:pointer;
	
}

/*Styke du menu deroulant*/
.deroulant{
	display: none;
	background-color: #f9f9f9;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

/*En pointant sur l'un des bouttons du menu deroulant => changement de couleur + changement du pointeur*/
.deroulant a:hover {
	background-color: #F1F1F1;
	cursor:pointer;
}

/*Style des bouttons du menu deroulant*/
.deroulant a{
	text-decoration:none ;
	display: block;
	color:black;
	text-align: center;
	padding: 20px 50px; 
	
}

/*Style du menu vertical, par defaut il est désactivé (display = none)*/
.menu-vertical{
	display:none;
	list-style-type: none;
    position: fixed;
	left: 0;
	padding:0;
	margin:0;
	height: 100%;
	background-color: #333;
	font-size: 125	%;
	box-shadow: 0px 0px 5px;
}

/*Style des bouttons du menu vertical*/
.menu-vertical li a{
	display: block;
	color: white;
	text-align: left;
	text-decoration: none;
	padding: 15px ; 
}
/*En pointant sur l'un des boutons du menu vertical => changement de couleur + changement de pointeur*/
.menu-vertical li a:hover{
	background-color: #555;
	cursor:pointer;
}

/*Style du footer*/
footer{
	color:black;
	font-size:15px;
	bottom: 0;
	left:0;
	right:0;
	padding: 1rem;
	padding-bottom:1%;
	text-align:center;
	position:absolute;
}
/*Style du contenu qui s'affiche en cliquant sur General ou Reaction*/
#content{
	color:black;
	font-size:15px;
	display:block;	
	margin-top:50px;
}
/*Style des drapeaux dans le footer*/
.image-Drapeau{
	box-shadow: 0px 0px 5px 0px;
	margin-left:1%;
}

